html {
    background-color:#007792;
    color:#f5f8fa;
}
body {

}
#SearchBarContainer {
    background-color:#007792;
}
#SearchBar {
    background-color: #007792;
}
input[type=text], textarea{
    background:#333 !important;
    border-style:solid;
    border-width:1px;
    border-color:#888;
    color:#FFF;
}
input[type=submit] {
    background-color:#444;
    color:#f5f8fa;
}
#WorkingArea {
    background: #262626;
}
.noteNode {
    color: #FFF;
    background: #333;
}
.noteContents {
    color: #FFF;
    background: #333;
}
.noteText {    
    color: #FFF !important;
}
.noteText a {
    color: #0093b4;
}
#NoteDisplay {
    color: #FFF !important;
}
.textcomplete-dropdown {   
    background-color:#444;
    color:#f5f8fa;
}
.textcomplete-dropdown .active {
    background-color: #007792;
}
.textcomplete-dropdown a {
    color: #f5f8fa;
}
.completedNoteNode {
    color: #585858 !important;
}
.ui-menu-item {
    background:#444;    
    color: #FFF;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	border: 1px solid #007792;
	background: #007792;
	font-weight: normal;
	color: #ffffff;
}

/* Invert the location icon colors for mobile */
.locationIcon {
    -webkit-filter: invert(100%); 
    filter: invert(100%);
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

@media only screen and (max-device-width: 480px) {
    #AddNoteBar {
        background-color: #007792;
    }
}