<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Notegami</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0' name='viewport' />
    <!-- Icon Creation -->
    <link href="Images/fav_icon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="Images/app_icon.png">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="Images/app_icon.png">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="Scripts/Common.js"></script>
    <link rel="stylesheet" type="text/css" href="Style/Style.css">
    <link rel="stylesheet" type="text/css" href="Style/SignUp.css">
    <script type="text/javascript">
        var activeAction = resetPassword;
        // full screen on mobile devices
        window.addEventListener("load", function () { window.scrollTo(0, 0); });
        
        function resetPassword() {
            ShowLoading("PWResetButton");
            var password = document.getElementById("password").value;
            var user =
            {
                Email: email,
                Password: password                
            }
            var request =
            {
                User: user,
                Token: token
            }

            $.ajax({
                type: "POST",
                url: "../user/ResetPassword",
                data: request,
                success: function (response) {
                    if (response != "") {
                        HideButtonImage("PWResetButton");
                        if (response.Error == "Success") {
                            StoreAuthToken(email, response.Token);
                            document.getElementById('ResetPasswordTitle').innerHTML = "Password updated!";
                            document.getElementById('PWResetButton').style.display = "none";
                            document.getElementById('password').style.display = "none";
                            document.getElementById('ContinueButton').style.display = "block";
                            activeAction = null;
                        }
                        else {
                            showPWResetError(response.Error);
                            HideButtonImage("PWResetButton");
                        }
                    }
                },
                dataType: 'json'
            });
        }

        function showPWResetError(message) {
            document.getElementById("errorDisplay").innerHTML = message;
        }

		function retrieveQueryStringArgs()
		{
		    email = getParameterByName("email");
		    token = getParameterByName("token");
		    if(email == null || token == null || email == '' || token == '')
		    {
		        showPWResetError("Invalid Link");
		        return;
		    }            
		    document.getElementById("email").value = email;
		    document.getElementById("password").focus();
		}

		function getParameterByName(name, url) {
		    if (!url) url = window.location.href;
		    name = name.replace(/[\[\]]/g, "\\$&");
		    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
		    if (!results) return null;
		    if (!results[2]) return '';
		    return results[2];
		}
    </script>
</head>
<body onload="retrieveQueryStringArgs();">
    <img style="display:none" src="Images/splash_icon.png" />
    <div id="Form" onkeyup="PerformActionIfReturn(event)">
        <div id="Title"><img id="TitleImg" src="Images/app_icon.png" /><div id="TitleText">Notegami</div></div>
        <div id="errorDisplay"> </div>
        <div id="ResetPasswordTitle">Enter your new password</div>
        <input type="text" id="email" placeholder="Email" readonly/>
        <input type="password" id="password" placeholder="Password" />        
        <input id="PWResetButton" onclick="resetPassword()" type="submit" value="Change Password" />
        <input style="display:none; margin-top:4em;" id="ContinueButton" onclick="Redirect('Signup.html')" type="submit" value="Continue" />        
    </div>
</body>
</html>